body
{
    margin: 0;
}

h2
{
    text-align: center;
    margin-bottom: 50px;
}

button
{
    background-color: #3882F6;
    color: white;
    cursor: crosshair;
    border-radius: 50px;
}

footer
{
    text-align: center;
    background-color: bisque;
    margin: 0;
    padding: 0;
}

footer p
{
    margin: 0;
    padding: 0;
}

.header
{
    background-color: #1F2937;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.header img
{
    max-width: 20px;
    max-height: 20px;
}

.section1
{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px 15px 15px;
}

.members 
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.members div
{
    max-width: 184px;
    margin-bottom: 50px;
    gap: 25px;
}

.members img
{
    border-radius: 25%;
}

.members p
{
    text-align: center;
}

.quote
{
    padding: 80px 70px 80px 70px;
    margin-bottom: 70px;
    font-style: italic;
    background-color: lightgray;
}

.join.text h3, .join.text p
{
    margin: 0;
    padding: 0;
}

.sign.up
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto 100px 70px 100px;
    padding: 20px 5px 20px 5px;
    background-color: #3882F6;
    border-radius: 10px;
}